/*++++++++++++++++++++++++++GENERAL++++++++++++++++++++++++++*/

//vars
@primary: #ba324f;
@primaryHover: #d62839;
@background: #9381ff;
@secondaryBg: #b8b8ff;
@light: #f8f7ff;
@dark: #000000;
@border-radius: 19px;
@box-shadow: 0 5px 10px rgba(7, 25, 20, .15);

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

body {
    background: @background !important;

    h1, h2, h3, a, p, li, label {
        color: @light;
        font-family: Poppins;
    }

    a {
        background-color: @primary;
        color: @light;
        font-style: 18px;

        &.logo {
            background-color: transparent;
        }

        &:hover {
            background-color: @primaryHover;
            text-decoration: none;
            color: @light;

            &.logo {
                background-color: transparent;
            }
        }
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    p, label {
        font-size: 18px;
    }
}

.btn {

    &.btn-outline-primary {
        border-color: @light;
        color: @light;
        background: @background;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: @border-radius;

        &:hover, &:not(:disabled):not(.disabled):active {
            background-color: @light;
            border-color: @primary;
            color: @primary;
        }
    }

    &.btn-primary {
        background-color: @primary;
        text-transform: uppercase;
        border-color: @primary;
        cursor: pointer;
        border-radius: @border-radius;
    
        &:hover, &:not(:disabled):not(.disabled):active {
            background-color: @primaryHover;
            border-color: @primaryHover;
        }
    }
}

.inputTextButton {
    position: relative;
    z-index: 3;

    input {
        border-radius: @border-radius 0 0 @border-radius;
        margin-right: -5px;
        height: 38px;
        border: 0;
        padding: 0 28px 0 17px;
        color: @primary;
        background: @light;
        text-transform: capitalize;
        border: 2px solid @light;

        &:focus {
            outline: 0;
            background: @secondaryBg;
            border-color: @secondaryBg;
        }
    }

    .btn {
        z-index: 3;
        margin-bottom: 3px;
        margin-left: -17px;
    }
}

//checkbox customization
label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;

    input[type$="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
            background-color: @light;

            &:after {
                display: block;
            }
        }
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 4px;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: @border-radius;
        background-color: @light;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 2px;
            width: 7px;
            height: 12px;
            border: solid @primary;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        background-color: @secondaryBg;
    }
}

.interestName {
    text-transform: capitalize;
}

/*+++++++++++++++++++++++++++HEADER+++++++++++++++++++++++++++*/

header {
    width: 100%;

    .logo {

        img {
            max-width: 85px;
            padding: 20px 0;
        }
    }

    .breadcrumbs {

        ul {
            list-style-type: none;
            display: flex;
            margin-bottom: 0;

            .breadcrumbDivider {
                margin: 0 25px;
            }
        }
    }
}

.alert {
    color: @primaryHover;
}

/*++++++++++++++++++++++++DEFAULT LAYOUT++++++++++++++++++++++++*/
.fullHeight {
    min-height: calc(100vh - 121px);
    display: flex;
    align-items: center;
    z-index: -1;

    .centerContent {
        text-align: center;
        width: 50%;
        margin: 0 auto;

        &.fullWidth {
            width: 100%;
        }

        .defaultRow {
            margin: 15px 0;
            min-height: 50px;

            .loadingBar {
                position: relative;
                height: 40px;
                
                .progressBar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background: @secondaryBg;
                    height: 100%;
                    border-radius: @border-radius;
                }

                .loadingBg {
                    background: @light;
                    border-radius: @border-radius;
                    height: 100%;
                    width: 100%;
                }

                .loadingPercentage {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    color: @primary;
                    z-index: 2;
                    line-height: 2.2;
                }
            }

            .loadingIcon svg {
                height: 100px;
                fill: @light;
                margin-bottom: 15px;
            }

            .currentAction {
                margin-top: -25px;
            }

            #categoryCloud {
                height: calc(100vh - 282px);

                svg g text {
                    fill: @light;

                    &:hover {
                        fill: @primary;
                    }
                }
            }
        }
    }

    .defaultColumn {
        text-align: center;

        #spiderChart {
            height: 300px;

            svg {

                path:hover {
                    fill: @primary;
                }
            }
        }

        .swiper-container {
            padding: 0 15px 15px;

            .swiper-slide {
                background: @secondaryBg;
                border-radius: 15px;
                padding: 15px;
                box-shadow: @box-shadow;

                h1, h2, h3, p {
                    color: @light;
                }

                .prodImg {
                    margin: 10%;
                    max-width: 80%;
                    height: 230px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .reviews {
                    .productRating svg {
                        height: 18px;
                        width: 18px;
                        fill: @light;
                    }

                    .productReviews {
                        line-height: 18px;
                        vertical-align: bottom;
                    }
                }

                .productTitle {
                    max-height: 60px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                .moreWrapper {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }

            .swiper-pagination {
                bottom: 30px;

                .swiper-pagination-bullet-active {
                    background: @primaryHover;
                }

                .swiper-pagination-bullet {
                    background: @primary;
                }
            }
        }
        
        .swiper-button-prev {
            color: @primary;
            bottom: 30px;
            top: unset;
            left: 25px;
        }

        .swiper-button-next {
            color: @primary;
            bottom: 30px;
            top: unset;
            right: 25px;
        }
    }

    .popupWrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0, .6);

        .defaultPopup {
            position: relative;
            height: 80vh;
            width: 80%;
            background-color: @background;
            border-radius: @border-radius;
            padding: 30px;
            box-shadow: @box-shadow;
            max-width: 1110px;

            .popupContent {

                .filterRow {
                    display: flex;
                    height: calc(100% - 82px);
    
                    .filterCol {
                        display: flex;
                        flex-direction: column;
                        
                        &:first-child {
                            margin-right: 30px;
                            padding-top: 6px;
                        }
    
                        .selectedCategories ul {
                            list-style-type: none;
    
                            .specificCat:hover {
                                cursor: pointer;
                                color: @primary;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }

            .close {
                position: absolute;
                top: 11px;
                right: 20px;
                cursor: pointer;
                color: @primary;
                opacity: 1;
                text-shadow: none;
    
                &:not(:disabled):not(.disabled):hover {
                    color: @primaryHover;
                    opacity: 1;
                }
            }
        }

        &.vis {
            display: flex;
        }
    }
}

/*autocomplete styling*/
.autocomplete-suggestions {
    text-transform: capitalize;
    box-shadow: @box-shadow;
    background: @background;
    padding: 23px 0 5px;
    overflow: hidden;
    margin-top: -19px;
    border-radius: 0 0 @border-radius @border-radius;

    .autocomplete-suggestion {
        text-align: left;
        padding: 0 17px;
        color: @light;
        cursor: pointer;

        &:hover, &.autocomplete-selected {
            background: @secondaryBg;
        }
    }
}

/*++++++++++++++++++++++++STEP 1: INPUT++++++++++++++++++++++++*/

.startForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .formWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        .headline {

            h1 {
                text-align: center;
            }
        }

        form {

            #showFilters {
                text-decoration: underline;
                cursor: pointer;
            }

            .filterWrapper {
                display: none;
            }
        }
    }
}

/*++++++++++++++++++++++++STEP:2 DATA++++++++++++++++++++++++*/

.dataStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .headline {
        width: 50%;
        text-align: center;
    }
}

/*++++++++++++++++++++++++IDEATION PAGE++++++++++++++++++++++++*/

.ideate {

    .ideationWrapper > .row {
        height: 100vh;

        .card {
            border: 4px @secondaryBg solid;
            border-radius: @border-radius;
            background-color: @background;
        }

        .controlWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60vh;
        }
        
        .right {
        
            .exampleProduct {
                display: flex;
                flex-direction: row;
                align-items: center;
        
                img {
                    max-width: 30%;
                    max-height: 300px;
                }

                .prodDesc {
                    width: 70%;

                    .productTitle {
                        height: 30px;
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    
    .addIdeaWrapper {
        display: none;
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0, .5);

        .addIdea {
            position: relative;
            width: 50%;
            height: 50%;
            background-color: @secondaryBg;
            padding: 50px;

            .close {
                position: absolute;
                top: 0;
                right: 6px;
                cursor: pointer;
            }

            input {
                width: 100%;
            }

            textarea {
                width: 100%;
                height: calc(100% - 104px);
            }
        }
    }
}
